@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


h1 {
    color: #BCBBBB;
    font-family: 'Pacifico', Serif;
    text-align: justify-all;
}

p {
    font-family: verdana;
    font-size: 20px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align:center;
}

